package pages

import (
	"fmt"
	"github.com/raffy-io/02grocerybuddy/internal/db"

	"strconv"
)

templ Home(todos []db.Todo) {
	<section class="h-dvh grid place-items-center p-5 bg-stone-50" x-data="{ shown: false }" x-intersect="shown = true">
		<div x-show="shown" x-transition.duration.1000ms x-cloak>
			<div>
				<h1 class="text-4xl md:text-6xl font-black capitalize mb-4">what's up, raffy!</h1>
				<p class="text-sm md:text-lg capitalize mb-16 text-stone-500">i will remind you what you need to buy today.</p>
				<h6 class="text-sm md:text-lg capitalize text-stone-500 mb-2">today's items</h6>
				<ul class="text-sm md:text-lg flex flex-col gap-2 mb-8 text-stone-500">
					if len(todos) == 0 {
						<p class="capitalize text-xs">start to add items....</p>
					} else {
						for _, todo := range todos {
							<li class="shadow-xs bg-white py-2 px-4 rounded-lg flex items-center justify-between" x-data="{ checked: false }">
								<div class="flex items-center gap-4">
									<label
										for={ fmt.Sprintf("todo-check-%d", todo.ID) }
										class="h-4 w-4 border rounded-full flex items-center justify-center cursor-pointer transition-colors duration-200"
										:class="checked ? 'border-go' : 'border-stone-600'"
									>
										<input
											id={ fmt.Sprintf("todo-check-%d", todo.ID) }
											type="checkbox"
											x-model="checked"
											class="hidden"
										/>
										<span
											class="h-2 w-2 rounded-full transition-all duration-200"
											:class="checked ? 'bg-go border border-go' : 'bg-transparent'"
										></span>
									</label>
									<p class="capitalize select-none" :class="checked ? 'line-through text-sky-500' : ''" x-cloak x-transition.duration.300ms>{ todo.Name }</p>
								</div>
								// Delete
								<form action="/delete" method="POST" x-show="checked" x-cloak x-transition.duration.300ms>
									<input type="hidden" name="id" value={ strconv.FormatInt(todo.ID, 10) }/>
									<button type="submit" class="text-sm capitalize text-red-500 cursor-pointer">
										delete
									</button>
								</form>
							</li>
						}
					}
				</ul>
			</div>
			<a href="/add" class="bg-go h-10 w-10 flex items-center justify-center rounded-full text-stone-50 text-2xl shadow-lg">&#43</a>
		</div>
	</section>
}
