package pages

templ AddTodo() {
	<section class="h-dvh grid place-items-center p-5 bg-stone-50" x-data="{ shown: false }" x-intersect="shown = true">
		<div class="lg:w-1/2 shadow-lg" x-show="shown" x-transition.duration.1000ms x-cloak>
			<form class="flex flex-col p-5 rounded" action="/add" method="POST">
				<h1 class="text-2xl capitalize font-black mb-2">add new item</h1>
				<label for="item" class="capitalize mb-2 text-stone-500">Example: banana...</label>
				<input class="bg-stone-200 mb-4 pl-2 py-2" type="text" id="item" name="name"/>
				<button type="submit" class="text-stone-50 capitalize py-2 px-4 cursor-pointer bg-go hover:bg-green-500 transition-all duration-300">add</button>
			</form>
		</div>
		<a href="/" class="capitalize">back</a>
	</section>
}
